@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Silkscreen&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    
}

::selection {
    background: #0e0e0e;
    color: #ffffff;
}

h1 {
    font-family: 'Silkscreen', cursive;
    padding: 2rem;
    font-size: 90px;
    /* letter-spacing: 0px; */
    font-size: grid(3);
    color: #a5a5a5;
    text-shadow: 10px 10px 20px #000000;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F5959; 
    background-image: url("https://discord.com/channels/@me/940487715831562240/1153395415849386017");
    background-position: center;
    background-size: cover;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

a {
    position: absolute;
    font-weight: bold;
    bottom: 0;
    left: 0;
    padding: 2rem;
    color: #000000;
    text-decoration: none;
    &:last-of-type {
        right: 0;
        left: unset;
    }
}